sklearn
pandas
numpy
tensorflow
keras
matplotlib
mysql
sqlalchemy
elasticsearch
jupyterlab
dash
dash-cytoscape
dash-bootstrap-components
dash-canvas
dash-bio
dash-daq
elyra
scilab_kernel
bash_kernel
octave_kernel
